<h1>WIP</h1>
<p>state:{{ network.state}}</p>
<p>speed:{{ network.speed}}</p>
<p>duplex:{{ network.duplex}}</p>
<p>download:{{ network.download}}</p>
<p>upload:{{ network.upload}}</p>
<p>download_packets_now: {{network.download_packets_now}}</p>
<p>download_packets_total: {{network.download_packets_total}}</p>
<p>download_bytes_now: {{network.download_bytes_now}}</p>
<p>download_bytes_total: {{network.download_bytes_total}}</p>
<p>download_errors_now: {{network.download_errors_now}}</p>
<p>download_errors_total: {{network.download_errors_total}}</p>
<p>upload_packets_now: {{network.upload_packets_now}}</p>
<p>upload_packets_total: {{network.upload_packets_total}}</p>
<p>upload_bytes_now: {{network.upload_bytes_now}}</p>
<p>upload_bytes_total: {{network.upload_bytes_total}}</p>
<p>upload_errors_now: {{network.upload_errors_now}}</p>
<p>upload_errors_total: {{network.upload_errors_total}}</p>
