{% extends "base.html" %}
{% load staticfiles %}
{% load monitcollector_tags %}


{% block jumbotron %}
<h1 style="font-size:50px;">
	Server
</h1>
<h3>
	Monit {{ server.monit_version }} is running on server {{ server.localhostname }} (IP: {{ server.address }}) with uptime {{ server.uptime|time_str }}
</h3>
{% endblock %}

{% block content %}

<div class="row clearfix">
  <div class="col-md-12 column">
    <p class="helper">Zoom: click-drag --- Pan: shift-click-drag --- Restore zoom level: double-click</p>

    <div class="col-lg-4 col-md-6 column">
      <div id="graph_load" class="graph" style="width:100%;"></div>
    </div>
    <div class="col-lg-4 col-md-6 column">
      <div id="graph_cpu" class="graph" style="width:100%;"></div>
    </div>
    <div class="col-lg-4 col-md-6 column">
      <div id="graph_mem" class="graph" style="width:100%;"></div>
    </div>
  </div>
</div>

<div class="row clearfix marginTop">
  <div class="col-md-12 column">
    <div id="server_table" class="table-responsive">
        {% include "monitcollector/includes/server_table.html" %}
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-md-12 column">
    <p class="helper">Zoom: click-drag --- Pan: shift-click-drag --- Restore zoom level: double-click</p>

    <div class="col-lg-4 col-md-6 column">
      <div id="graph_download" class="graph" style="width:100%;"></div>
    </div>
    <div class="col-lg-4 col-md-6 column">
      <!--div id="graph_cpu" class="graph" style="width:100%;"></div-->
    </div>
    <div class="col-lg-4 col-md-6 column">
      <!--div id="graph_mem" class="graph" style="width:100%;"></div-->
    </div>
  </div>
</div>

<div class="row clearfix marginTop">
  <div class="col-md-12 column">
    <div id="network_table" class="table-responsive">
        {% include "monitcollector/includes/network_table.html" %}
    </div>
  </div>
</div>

<div class="row clearfix">
    <div class="col-md-12 column">
        Platform: {{ server.platform.name }}, release: {{ server.platform.release }}, version: {{ server.platform.version }}, machine: {{ server.platform.machine }}, CPU: {{ server.platform.cpu }}, {{ server.platform.memory|in_GB }} memory, {{ server.platform.swap|in_GB }} swap
     <a class="btn btn-primary btn-lg" href="{% url 'monitcollector.views.confirm_delete' server.id %}" style="margin-left: 20px;"> Delete server </a>
    </div>
</div>


<script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
<script src="{% static 'js/dygraph-combined.js'%}"></script>
<script src="{% static 'js/csrf.js'%}"></script>
<script src="{% static 'js/graphs.js' %}"></script>
<script>
    $(document).ready(function () {
        var graphs={
            "graph_load":{
                data: [],
                values: [
                    {{system.load_avg01}},
                    {{system.load_avg05}},
                    {{system.load_avg15}}
                ], //TODO: these {#  { }}#} are django-templates!!!
                labels: {
                    "ylabel":"Load average",
                    "labels":['Time', 'load 1 min', 'load 5 min', 'load 15 min']
                },
                keywords:["load_avg01","load_avg05","load_avg15"],
                factors:[1,1,1],
                graph: null
            },
            "graph_cpu":{
                data: [],
                values: [
                    {{system.cpu_user}},
                    {{system.cpu_system}},
                    {{system.cpu_wait}}
                ], //TODO: these {#  { }}#} are django-templates!!!
                labels: {
                    "ylabel":"CPU usage (in %)",
                    "labels":['Time', 'user', 'system', 'wait']
                },
                keywords:["cpu_user","cpu_system","cpu_wait"],
                factors:[1,1,1],
                graph: null
            },
            "graph_mem":{
                data: [],
                labels: {
                    "ylabel":"Memory usage (in % or GB)",
                            "labels":['Time', 'memory in %', 'memory in GB', 'swap in %', 'swap in GB']
                },
                graph: null,
                keywords:["memory_percent","memory_kilobyte","swap_percent","swap_kilobyte"],
                factors:[1,1.e6,1,1.e6],
                values: [
                    {{system.memory_percent}},
                    {{system.memory_kilobyte}},
                    {{system.swap_percent}},
                    {{system.swap_kilobyte}}
                ] //TODO: these {#  { }}#} are django-templates!!!
            },
            "graph_download":{
                data: [],
                labels: {
                    "ylabel":"network usage",
                            "labels":['Time', 'download_bytes_total', 'download_bytes_now']
                },
                graph: null,
                keywords:["download_bytes_total","download_bytes_now"],
                factors:[1.e6,1.e6],
                values: [
                    {{networks.0.download_bytes_total}},
                    {{networks.0.download_bytes_now}}
                ] //TODO: these {#  { }}#} are django-templates!!!
            }
        };
        var options= {
            point_size: 1.5,
            stroke_width: 1,
            update_period: 1000*{{monit_update_period}}
        };
        var dates = {{system.date}};
        graphs = createGraphs(graphs, dates, options);
        setupRefresh("{% url 'monitcollector.views.load_system_data' server.id %}", graphs, options, "{% url 'monitcollector.views.load_system_table' server.id %}");
});
</script>
<!-- {{system_memory_zip}} -->
{% csrf_token %}

{% endblock %}
